<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentWindows.Properties.Settings.StudentsDBConnectionString"
            connectionString="Data Source=DESKTOP-4ID3ANV\SQLEXPRESS;Initial Catalog=StudentsDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>